.workHour__container-contnet{
    height: 100%;
    display: flex;
      height: 100%;
    display: flex;
    gap: 25px;
 }
.hour{
      display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    width: 30px;
    font-size: medium;
    font-family: math;
    color: black;
}
.workHour{
         background: white;
    border-radius: 20px;
    height: 349px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 35px;
    justify-content: center;
    text-align: start;
    max-width: fit-content;
}
.workHour__header-title , .workHour__header-title{
         font-family: system-ui;
    font-size: 1.3rem;
    color: #8f9397;
    text-align: center;
    font-weight: 100;
}
 .workHour__header-hour{
  font-size: 20px;
    /* font-weight: 900; */
    font-family: system-ui;
    color: #a16306;
}
.workHour__container-hours{
        display: flex;
    flex-direction: column-reverse;
    font-weight: 500;
    font-size: 13px;
    justify-content: flex-end;
    gap: 22px;
    color: #7b7b7b;
    font-family: cursive;

}
.workHour__header select{
    border-radius: 10px;
    padding: 5px 20px;
    background: #9f6924;
    color: white;
} 
 .hour span{
font-size: 13px;
    color: #005197;
    font-family: cursive;
    letter-spacing: 1px;
}
.workHour__container{
   display: flex;
    gap: 10px;
    width: 100%;
    height: 240px;
}
.fillHour{
        height: 170px;
    width: 9px;
    background:#ffff2d99;
    border-radius: 10px;
    rotate: -180deg;

}
.fillRevenue{
        height: 170px;
    width: 9px;
    background: none;
    border-radius: 10px;
    rotate: -180deg;

}
.workHour__header-title{

}
.workHour__header{
display: flex;
justify-content: space-between;
}
.workHour__header-avg-hour{
        background-color: #b37504fc;
    padding: 5px;
    border-radius: 10px;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 900;
}
.workHour__header-avg-revenue{
        background-color: #0f4993fc;
    padding: 5px;
    border-radius: 10px;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 900;
}
.workHour__total-hour{
    font-size: 20px;
    font-family: cursive;
    color: #b37504fc;
}
.workHour__total-revenue{
    font-size: 20px;
    font-family: cursive;
    color: #0f4993fc;
}
.workHour__total{
    display: flex;
    gap: 20px;
    align-items: center;
}
 