.projectCatagory__cards{
     display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding: 5px;
}
.projectCatagory__cards--card{
           display: flex;
    flex-direction: column;
    background: #cd895f;
    border-radius: 5px;
    padding: 5px;
     height: 70px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.projectCatagory__cards--card .title{
color: black;}
.iconWrapper{
      background: antiquewhite;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 5px;
}