.Reports{
display: flex;
gap: 40px;
flex-wrap: wrap;
}
.TotalProjectsMemberes{
    display: flex;
    gap:10px;
    flex-direction: column;
     height: min-content;
 }
.totalRevenues{
    display: flex;
flex-direction: column; 
   gap:10px;
 }
.TotalProjectsMemberes .totals{
    display: flex;
    gap: 10px;
    align-items: center;
}