.progress{
       max-width: 355px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fffffff2;
    border-radius: 10px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 1px 1px 1px #9ca5a5;
    width: min-content;
    flex: 1 1;
    min-width: 350px;
    max-height: 280px;
}
.progressbar{
display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
}
.progress h5{
font-size: large;
 }
.userProgress{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #f3efef;
    align-items: center;
}
.userProgress > img{
          height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 5;
    border-radius: 50%;
    object-position: 75% 10%;
}
.userProgress > parent{

}