
 
.TodayTodo__wavingHand{
           font-size: 2rem;
    font-family: monospace;
    font-family: system-ui;
    font-weight: 900;
    color:black;
 }
 
.Dashboard{
          display: flex;
        flex-direction: column;
    gap: 40px;
 }
.date{
      font-size: 1.1rem;
    font-weight: 900;
    font-family: cursive;
}
.time{
font-size: 1.3rem;
    color: #9c9ea1;
}
.TodayTodo > .greeting{
display: flex;
    flex-direction: column;
    align-items: center;
}
.Dashboard_TaskStatus{
   display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
 
  .bargraph{
        
        background: #ffffff;
    border-radius: 20px;
    height: 300px;
    display:flex;
    flex-direction: column;
    gap: 2px;
  }
  .bargraph h5{
       font-size: 20px;
    font-family: fangsong;
    font-weight: 100;
    color: #898981;
  }
 .Dashboard_TaskCompletion-totalTaskCount{
         width: 405px;
    background: transparent;
    display: flex;
    height: 320px;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    padding: 5px;
 }
  
.Dashboard_TaskCompletion-doghnutGraph{
    width: 340px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
    padding: 5px;
    height: 310px;
    background: white;
    padding: 15px;
}
.Dashboard_TaskCompletion-doghnutGraph h5{
      font-family: system-ui;
    font-size: 20px;
    color: #8f9397;
    text-align: center;
    font-weight: 100;
 }

.Dashboard_TaskCompletion-projectComment{
      display: flex;
     gap: 10px;
}
.Dashboard_TaskCompletion_Project{
  display: flex;
    gap: 15px;
    width: 720px;
}
.Dashboard_TaskCompletion_Project-Catagori{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
 }

