.CommentSection{
         background: #ffffffad;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 1px 1px 1px #9ca5a5;
    padding: 5px;
    gap: 25px;
    flex: 1 1;
    min-width: 320px;
    max-width: 370px;
    max-height: 270px;
}
.TeamsComment{
display:flex;
flex-direction: column;
gap:10px
}
.CommentSection   h3{
    font-size: 20px;
    font-family: fangsong;
    font-weight: 100;
    color: #898981; }
  .TeamsComment   .Usercomments{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ede7e7;
}
.Usercomments    img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 75% 10%;
}
.Usercomments   span{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.Usercomments  span   h6{
    font-size: 0.8rem;
    color: #6d6666;
}
.Usercomments   span   p {
     align-self: center;
    margin-left: 30px;
        color: #7ac7ae;
    margin-bottom: 5px;
}
