.parent{
    height: 15px;
    width: 100%;
    background-color: #cfcbcbe0;
    border-radius: 40;
    margin: 50;
    border-radius: 20px;
}
.child{

}
.parent .child span{
    align-items: center;
}