.header{
    display: flex;
    justify-content: space-between;
        padding: 0px 50px;
            margin-top: 10px;
                font-family: cursive;
}
.header h1{
    font-family: cursive;
    font-size: 2rem;
}
.header img{
       width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.header .left{
display: flex;
gap: 60px;
}
.header .left .notification{
    position: relative;
    top: 10px;
    width: 50px;
}
.header .left .notification span{
    position: relative;
    bottom: 31px;
    font-family: sans-serif;
    font-weight: 900;
    right: 10px;
    font-size: 16px;
}
