.header{
    display: flex;
    justify-content: space-between;
        padding: 0px 50px;
            margin-top: 20px;
                font-family: cursive;
}
.header h1{
    font-family: cursive;
    font-size: 2rem;
}
.header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.header .left{
display: flex;
gap: 20px;
}
.header .left .notification{
    position: relative;
    top: 10px;
    width: 50px;
}
.header .left .notification span{
       position: relative;
    bottom: 24px;
    font-family: sans-serif;
    font-weight: 900;
    right: 6px;
    font-size: 12px;
}
