.projectCatagory{
    width: 415px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px 20px;
    font-family: math;
    font-weight: bold;
     height: 152px;
    gap: 25px;
}
.projectCatagory__top{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 700;
    color: black;
    font-family: system-ui;
}
.cards{
      display: flex;
    gap: 10px;
}
.projectCatagory span {
        font-size: 20px;
    font-family: fangsong;
    font-weight: 100;
    color: #898981;
}