.Form{
      display: flex;
    flex-direction: column;
    place-items: center;
    color: rgb(11, 12, 12);
    height: 670px;
    border-radius: 20px;
    border: 1px solid rgb(85, 82, 82);
    font-weight: 800;
    box-shadow: 0px 0px 12px 0px black;
    background: #ffffffad;
    /* margin: auto; */
    grid-area: form;
    padding: 15px;
}
  .Form > input{
    border-radius: 20px;
    text-align:center;
    border: 1px solid rgb(63, 60, 60);

}
.Form > div{
    display: flex;
    align-items: center;
    justify-content: center;
} 
   .Form > label{
    text-align: start;
    margin-left: -10px;
    font-weight: 800;
    color: black;

   }
.Form > h1{
    margin-top: 40px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: start;
}.Form__input{
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgb(63, 60, 60);
    font-size: 1.1rem;
    width: 300px;
    height: 40px;
}

.Form__textarea{
       margin-top: 10px;
    border-radius: 20px;
    width: 350px;
    height: 120px;
    font-size: 1.1rem;
    padding: 15px
}
 
.Form__button{
    margin-top:30px;
       background: rgb(0 0 0);
    color: rgb(254 231 231);
    border-radius: 7px;
    display: flex;
    gap: 10px;
    height: 45px;
    width: 200px;
    place-content: center;
    align-items: center;
}
.Form__button:hover{
   background:rgb(9, 55, 85);
   color:rgb(255, 245, 245);
}
.Form__type{
     display: flex;
     gap:10px;
}
 
.Form__type--personal:hover{
     background-color: #183de2;
     color: white;
}
.Form__type--buisness:hover{
     background-color: red;
     color: white;
}
span{
    
}
 .Form__type--all{ 
    background: #fcfcfc;
    height: 30px;
    width: 140px;
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 20px;
}
.Form__date{
     gap:10px; 
     margin-top:20px;
     display:flex; 
}
 .Form__tags{
    margin-top: 20px;
    gap: 10px;
 }
 .Form__tag:hover{
   border:#fcfcfc solid 2px 
   }
   
 .tag{
      width: 35px;
    height: 35px;
 }

